<h2>Show Profile</h2>

<div class="container-min user-profile">
	<div class="profile-img">
		<i class="fa fa-user"></i>
	</div>
</div>

<p><%= link_to "Edit profile", edit_profile_path(@profile) %></p>