<div class="alert alert-danger text-center restrict-wrapper container-post">
	<div class="restrict-logo">
		<i class="fa fa-lock"></i>
	</div>
	<p>You dont have permission to access this page</p>
</div>