$navbar-inverse-bg: #0216c9;
$navbar-default-link-color: #fff;
$navbar-border-radius: 0;
$btn-border-radius-base: 2px;
$navbar-inverse-link-color: #fff;
$navbar-inverse-toggle-border-color: #363f89;
$navbar-inverse-toggle-hover-bg: #363f89;
@import "bootstrap-sprockets";
@import "bootstrap";

.container{
	background: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
}
.container-min{
    max-width: 360px;
    margin: auto;
}
.container-post{
	max-width: 640px;
	margin: auto;
	padding: 20px;
}


/* Header logo */
header{
	&.container-fluid{
		padding: 0;
	}
	.header-logo{
		padding: 10px 20px;
		height: 200px;
		position: relative;
		img{
			position: relative;
			display: block;
			height: 100%;
		}
	}
}

@media (max-width: 767px) {
	.header-logo{
		img{
			margin: auto;
		}
	}
}
/*Post index page*/

.home-container{
	.home-slider{
	}
	.img-container{
		padding: 10px;
		max-height: 320px;
		.img-responsive{
			display: block;
			margin: auto;
		}
	}
	.post-box{
		border: 1px solid #ccc;
		background: #ffffff;
		position: relative;
		margin: 0 0 25px;
		.action{
			position: absolute;
			top: 0;
			span{
				font-size: 90%;
				display: block;
				padding: 5px 10px;
			}
		}
	}
	.post-text{
		padding: 0 10px 10px;
		.post-title{
			font-size: 0.9em;
			font-weight: bold;
			height: 40px;
			text-align: center;
		}
		.wrapper-text{
			.label{
				font-size: 90%;
			}
			.left-box{
				float: left;
			}
			.right-box{
				float: right;
			}
		}
	}
}


/* Show post */

.bx-wrapper{
	margin: 0 auto 20px;
}

.show-description{
	padding: 80px 0 0;
}
.remove_fields{
	color: #d9534f;
	&:hover{
		text-decoration: none;
		color: #961512;
	}
}

.recent-post{
	.post-box{
		border: 1px solid #ccc;
		background: #ffffff;
		position: relative;
		margin: 0 0 25px;
		.action{
			position: absolute;
			top: 0;
			span{
				font-size: 90%;
				display: block;
				padding: 5px 10px;
			}
		}
	}
	.post-text{
		padding: 0 10px 10px;
		.post-title{
			font-size: 0.9em;
			font-weight: bold;
			height: 40px;
			text-align: center;
		}
		.wrapper-text{
			.label{
				font-size: 90%;
			}
			.left-box{
				float: left;
			}
			.right-box{
				float: right;
			}
		}
	}
}

.show-post-wrapper{
	ul.row{
		margin: 0;
		padding: 10px;
		li{
			list-style: none;
			padding: 5px 0;
			i{
				color: $brand-success;
			}
		}
	}
}

/* User profile */
.user-profile{
	background: #ffffff;
	//max-width: 640px;
	border: 1px solid #ccc;
	padding: 20px;
	em{
		font-size: 0.8em;
		color: #666666;
	}
	h4{
		margin: 0;
		text-align: center;
		padding: 10px 0 0;
		span{
			font-size: 0.65em;
		}
	}
	.profile-img{
		i{
			display: block;
			text-align: center;
			width: 100%;
			border: 1px solid #dedede;
			padding: 10px 20px;
			background: #ffffff;
			font-size: 100px;
		}
		.edit-profile{
			text-align: center;
			padding: 10px 0;
		}
	}
	
}
.profile-info{
	padding: 10px;

	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			color: #555;
			margin: 10px;
			font-size: 1.1em;
			line-height: 1.8;
			i{
				font-size: 1.2em;
				padding: 0 10px 0 0;
			}
		}
	}
}


/* Admin  */
.restrict-wrapper{
	padding: 20px 0;
	i{
		font-size: 10em;
	}
	p{
		font-size: 2em;
		font-weight: bold;
	}
}

/* General */
body{
	background-color: #E1E1F6;
}
textarea{
	min-height: 200px;
}
.btn{
	border-bottom-width: 2px;
	text-transform: uppercase;
	font-weight: bold;
}

/* BX SLIDER */
.bx-wrapper img{
	margin: auto;
}
#bx-pager img{
	width: 100px;
	height: 65px;
	border: 2px solid #ffffff;
	box-shadow: 0 0 2px 1px #cccccc;
	margin: 0 3px;
}